/* Lessons main container */
#lessons-container {
    margin-top: 59px;

    .lessons-bg {
        height: calc(100vh / 4);
        background: url("/media/bg_images/lessons_bg.jpg") center center / cover no-repeat;
    }

    /* Category buttons style */
    .category-block-,
    .category-block-e {
        height: calc((100vh - 59px) / 4);
        background-color: #059cd9;
        display: flex;
        padding: 1.25rem;

        .cat-card {
            background-color: #fff;
            height: 100%;
            width: 100%;
            border-radius: 25px;
        }

        a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2.25rem;
                color: #059cd9;
                margin: 0;
            }

            &:hover {
                text-decoration: none;
                border: 10px solid #fff;
                border-radius: 25px;
                background: linear-gradient(0deg, #ffffff 5%, #31addf 95%);

                h1 {
                    color: #fff !important;
                    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                }
            }
        }
    }
}

/* Category result page - lesson cards style */
.about-lessons-result {
    .about-lessons {
        margin-top: 30px;

        h2 {
            text-align: center;
            color: #059cd9;
        }
    }
    .about-lessons-text {
        color: #000;
        font-size: 1.25rem;
        font-weight: 300;

        span {
            color: #059cd9;
        }
    }
}

.lessons-result-cards {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    /* Filter Box */
    .filter-box {
        width: 100%;
        color: #000;
        margin-bottom: 2rem;

        /* Search box */
        .search-from {
            margin-bottom: 0.85rem;
            height: 100%;

            /* Style the search field */
            form {
                input[type="search"] {
                    color: #848484;
                    padding: 7px 4px 7px 15px;
                    font-size: 1rem;
                    border: 1px solid #1ca5dc;
                    border-radius: 10px 0 0 10px;
                    border-right: 0;
                    float: left;
                    display: flex;
                    width: 80%;
                    outline: none;
                }
                button {
                    display: flex;
                    justify-content: center;
                    width: 20%;
                    padding: 11px;
                    background: #1ca5dc;
                    color: #fff;
                    font-size: 1rem;
                    border: 1px solid #1ca5dc;
                    border-left: none;
                    border-radius: 0 10px 10px 0;
                    cursor: pointer;

                    &:hover {
                        border-color: #00d4f5;
                        background: #00d4f5;
                    }
                }
            }
        }

        /* Categories buttons and filter box */
        .filter-container {
            margin-top: 1.5rem;
        }

        .custom-select-sm {
            height: calc(2em + 0.5rem + 2px);
            padding-left: 1rem;
        }

        label {
            font-weight: 300;
        }

        .category-li {
            list-style: none;
            height: 40px;
            width: 100%;
            display: flex;
            text-align: center;
            margin-bottom: 10px;
        }
        .active-li {
            background-color: #00d4f5 !important;
        }

        .category-link {
            width: 100%;
            color: #fff;
            background-color: #1ca5dc;
            border-radius: 10px;
            text-align: left;
            text-transform: uppercase;
            padding: 0.5rem;
            padding-left: 1rem;

            &:hover {
                text-decoration: none;
                background-color: #00d4f5;
            }
        }

        .category-selected {
            @extend .category-link;
            background-color: #00d4f5;
        }

        .filter-buttons {
            width: 100%;
            flex-direction: column;
            display: flex;

            .btn {
                margin-bottom: 0.5rem;
            }
        }
    }

    .selector-border {
        border: 2px solid #f60f13;
        border-radius: 10px;
    }

    .selector-border-none {
        border: 2px solid #fd7f7b;
        border-radius: 10px;
    }

    /* Filter box - Fixed */
    .fixed-filters {
        position: fixed;
        width: 263px;
        top: 80px;
    }

    /* Card style */
    .card {
        display: none;
        border-radius: 15px;
        border: none;
        margin-bottom: 1rem;
        .card-head {
            border-radius: 15px 15px 0 0;

            img {
                border-radius: inherit;
                object-fit: cover;
            }
            .super-offer-icon {
                position: absolute;
                top: -2px;
                right: -2px;
                background-color: #00d4f5;
                padding: 0.5rem;
                border-radius: 0 15px;

                p {
                    margin: 0;
                    padding: 0.025rem;
                }
            }
        }
        .card-body {
            h1 {
                font-size: 1.25rem;
                color: #059cd9;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1rem;
                font-family: "Lato", sans-serif;
                color: #000;
                font-weight: 500;
                margin-bottom: 0.25rem;

                span {
                    font-weight: 300;
                }
            }

            /* Buttons */
            .buttons {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 1rem;

                .btn {
                    &:active,
                    &:focus {
                        color: #fff;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc(50% - 5px);
                    border: 1px solid #00d4f5;
                    color: #00d4f5;
                    &:hover {
                        text-decoration: none;
                    }

                    .hvr-bounce-to-right {
                        -webkit-transition-duration: 0.15s;
                        transition-duration: 0.15s;
                    }
                }

                /* Form */
                form {
                    width: calc(50% - 5px);
                    .btn {
                        width: 100%;
                        border: 1px solid #f60f13;
                        color: #f60f13;

                        &.hvr-bounce-to-right:before {
                            background: #f60f13;
                        }
                    }
                }

                .hvr-bounce-to-right:hover {
                    color: #fff !important;
                }
                .hvr-bounce-to-right:before {
                    background: #00d4f5;
                    border: 1px solid #fff;
                    border-radius: inherit;
                }
            }
        }
    }

    .card-super-offer {
        border: 2px solid #00d4f5;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 212, 245, 0.25) !important;
    }

    /* Load more cards button */
    .show-more {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        a {
            color: #059cd9;
            width: 110px;
            opacity: 0.8;
            &:hover {
                text-decoration: none;
                opacity: 1;
            }
        }
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            padding-top: 2px;
            border-radius: 50%;
            background-color: #059cd9;
            font-size: 1.25rem;
            color: #fff;
            margin: auto;
            margin-bottom: 5px;
        }
    }
    .show-disable {
        a {
            pointer-events: none;
            color: #ccc;
            opacity: 0.5;
            i {
                background-color: #ccc;
            }
        }
    }

    .page-results {
        color: black;
        position: absolute;
        right: 20px;
        bottom: 5px;
        opacity: 0.6;
    }

    /* No Category result - paragraph */
    .no-results {
        font-size: 1.25rem;
        color: #dc3545 !important;
    }

    .pathname {
        color: #000;
        text-transform: capitalize;
    }
}

@media (min-width: 768px) {
    .extra-padding {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 1024px) {
    .category-block-,
    .category-block-e {
        padding: 0.5rem;
        a {
            h1 {
                font-size: 1.75rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    @media (max-height: 414px) {
        .category-block-,
        .category-block-e {
            padding: 0.5rem;
            a {
                h1 {
                    font-size: 1.5rem;
                }

                &:hover {
                    border: 5px solid #fff;
                }
            }
        }
    }
}

/* Button style */
@media (max-width: 1200px) {
    form {
        .btn {
            padding: 0.5rem;
        }
    }
}
