// main toast style
.messages-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 99999999999;
    max-width: 300px;
}

.toast {
    background-color: #fff;
    border-radius: 5px;

    .toast-header {
        border-bottom: none;
        border-radius: inherit;
    }

    hr {
        margin: 0;
        padding: 0;
    }

    .message-text {
        color: #000;
        font-weight: 300;
    }

    // button style
    .btn {
        width: 100%;
        border: 1px solid #f60f13;
        color: #f60f13;
    }
    // buttons hover style
    .hvr-bounce-to-right:hover {
        color: #fff !important;
    }
    .hvr-bounce-to-right:before {
        background: #f60f13;
        border: 1px solid #fff;
        border-radius: inherit;
    }

    // discount text
    .spent-more-text {
        color: #fff;
        background-color: #31addf;
        border-radius: 5px;
        padding: .25rem;
        max-width: 350px;
        text-align: center;
        margin-left: auto;
    }
}

// success toast style
.toast-success {
    border: 2px solid #28a745;

    .toast-main-text,
    .close:hover {
        color: #28a745;
    }
}

// error toast style
.toast-error {
    border: 2px solid #dc3545;

    .toast-main-text,
    .close:hover {
        color: #dc3545;
    }
}

// info toast style
.toast-info {
    border: 2px solid #17a2b8;

    .toast-main-text,
    .close:hover {
        color: #17a2b8;
    }
}

// warning toast style
.toast-warning {
    border: 2px solid #ffc107;

    .toast-main-text,
    .close:hover {
        color: #ffc107;
    }
}

@media (max-width: 576px) {
    // main toast style
    .messages-container {
        top: 70px;
        right: 10px;
    }
}
