bg-white {
    background-color: #fff;
}

.yml {
    width: 100%;
    height: auto;
    padding: 1.25rem;

    a:hover {
        text-decoration: none;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    .card {
        padding: 1rem !important;
        //border: 1px solid #059cd9;

        &:hover {
            border: 2px solid rgb(0, 212, 245, 0.5) !important;
            &.shadow-sm {
                box-shadow: 0 0.125rem 0.25rem rgba(0, 212, 245, 0.595) !important;
            }
        }

        .super-offer-icon {
            position: absolute;
            top: -2px;
            right: -2px;
            background-color: #00d4f5;
            padding: 0.5rem;
            border-radius: 0 15px;

            p {
                color: #fff;
                margin: 0;
                padding: 0.025rem;
            }
        }
    }
    .card-super-offer {
        border: 2px solid #00d4f5 !important;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 212, 245, 0.25) !important;
    }

    h5 {
        //font-size: 0.85rem;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #059cd9;
    }

    p {
        color: #000000;
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 0.85rem;

        span {
            font-weight: 300;
        }
    }
}
