// contact form style
#form-checkout {
    background: #fff;
    border-radius: 10px;
    padding: 1.25rem;

    .form-group {
        margin: 0;
        padding-bottom: 1rem;

        .form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #059cd9;
            background: none;
            padding: 0.375rem 0rem;
        }

        select {
            color: #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }

    .arrow-position {
        text-align: right;
        position: absolute;
        right: 30px;
        margin-top: 7px;
    }

    label,
    input::placeholder,
    textarea::placeholder {
        color: #ced4da;
    }

    fieldset {
        legend {
            color: #848484;
            font-size: 1.25rem;
        }
    }

    span {
        color: #848484;
        font-size: 0.85rem;
        font-weight: 300;
    }

    #id_country,
    #id_country option:not(:first-child) {
        color: #495057;
    }

    #id_country option:first-child {
        color: #ced4da;
    }
}
