{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="d-none">Home page</h1>
<!-- Top container with social media links -->
<section id="top-bg" class="bg-section">
  <div class="container-fluid h-100">
    <div class="interactive-top row h-100">
      <div class="quote-bg shadow-sm my-auto mx-4">
        <p class="quote-text font-weight-light"><i>
            "The attraction of snowboarding is the freedom it gives you. With a snowboard on your feet the sky is the
            limit. You can do anything and go anywhere. This is not just for pro riders. It is for everyone."
          </i></p>
        <hr class="quote-hr">
        <p class="quote-author m-0">Jeremy Jones</p>
      </div>
      <div class="icons my-auto">
        <div class="social-media d-flex flex-column">
          <!-- social media code snipped -->
          {% include 'includes/social-media-set.html' %}
        </div>
      </div>
    </div>
  </div>
  <a href="#motivation-banner" class="scroll-icon"><span></span>
    <p class="scroll-text">Scroll</p>
  </a>
</section>
<!-- Motivation banner section -->
<section id="motivation-banner">
  <div class="container h-100 text-center">
    <div class="row h-100 d-flex justify-content-center">
      <div class="promo-banner my-auto mx-auto">
        <h1 class="promo-title mb-4">Our approach</h1>
        <h4 class="text-uppercase text-white mb-4">Friendly - Safe - Experienced - Fun</h4>
        <p class="promo-text"><i>Arctic School lessons attitude is well knwon from their friendly vibe. You will make
            new friends, a lot of new friends. Beleive Us, sometimes you can even hang out with your instructor for a
            drink at the end of the day. Your safety is the number one on our list! We constantly ensuring that you're
            safe during the lessons so you can get on with learning and having fun. We've got thousands of teaching
            hours, huge snowboard riding experience. No matter what is your level or riding skills, you will learn from
            the best.</br></br><strong>We want to make sure you are going to have a lot of fun and you will learn more
              than ever. So we make sure that our lessons are enjoyable, after all, snowboarding is all about having a
              good time!</strong></i></p>
      </div>
    </div>
  </div>
</section>
<!-- About us section -->
<section id="about-us">

</section>
<!-- Why to choose our lessons section -->
<section id="why-our-lessons">

</section>
<!-- Booking reminder banner section -->
<section id="booking-banner">

</section>
<!-- What is my level section -->
<section id="my-level">

</section>
<!-- Our place - map section -->
<section id="map">

</section>
{% include 'includes/footer.html' %}

{% endblock %}