{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="d-none">Home page</h1>
<!-- Top container with social media links -->
<section id="top-bg" class="bg-section">
  <div class="container-fluid h-100">
    <div class="interactive-top row h-100">
      <!-- Main section container -->
      <div class="quote-bg shadow-sm my-auto mx-4">
        <p class="quote-text font-weight-light"><i>
            "The attraction of snowboarding is the freedom it gives you. With a snowboard on your feet the sky is the
            limit. You can do anything and go anywhere. This is not just for pro riders. It is for everyone."
          </i></p>
        <hr class="quote-hr">
        <p class="quote-author m-0">Jeremy Jones</p>
      </div>
      <div class="icons my-auto">
        <div class="social-media d-flex flex-column">
          <!-- social media code snipped -->
          {% include 'includes/social-media-set.html' %}
        </div>
      </div>
    </div>
  </div>
  <a href="#motivation-banner" class="scroll-icon"><span></span>
    <p class="scroll-text">Scroll</p>
  </a>
</section>
<!-- Motivation banner section -->
<section id="motivation-banner">
  <div class="container h-100 text-center">
    <div class="row h-100 d-flex justify-content-center">
      <!-- Main section container -->
      <div class="promo-banner my-auto mx-auto">
        <h1 class="promo-title">Our approach</h1>
        <h4 class="text-uppercase text-white">Friendly - Safe - Experienced - Fun</h4>
        <p class="promo-text">
          <i>Arctic School lessons attitude is well knwon from their friendly vibe. You will make
            new friends, a lot of new friends. Beleive Us, sometimes you can even hang out with your instructor for a
            drink at the end of the day. Your safety is the number one on our list! We constantly ensuring that you're
            safe during the lessons so you can get on with learning and having fun. We've got thousands of teaching
            hours, huge snowboard riding experience. No matter what is your level or riding skills, you will learn from
            the best.
            </br></br>
            <strong>We want to make sure you are going to have a lot of fun and you will learn more
              than ever. So we make sure that our lessons are enjoyable, after all, snowboarding is all about having a
              good time!</strong>
          </i>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About us section -->
<section id="about-us">
  <div class="container text-center">
    <!-- Main section container -->
    <div class="row h-100 flex-column">
      <h1>About Us</h1>
      <h4 class="text-uppercase">Are we a skii instructors ? No way ..</h4>
      <div class="row about-us-text">
        <p class="promo-text">
          We started our school project in January 2020 with 2 instructors. Since then, we increased number of
          instructors to 5. We deliver high quality, proffesional snowbard instruction. Age is not a limit! Currently we
          have got only two resorts but we are planning to open 3rd resort next winter!
          <strong style="color: #f60f13;">We would like to offer you private and group lessons!</strong>
          </br></br>
        </p>
        <h4 class="text-uppercase">Our story</h4>
        <p class="promo-text">
          We have been born to be a snowboarders. When we've been young we had little snowboard desks and mountains over
          our heads on bedroom celling. We live and breathe snowboarding.
          Each of us dedicated a sifnigicant portion of our lives to learn how to ride on snowbard.
          Our aim is to make sure that you will have a great time on snow while learning with our top instructors. We
          want
          to pass you all our knwoledge and teach you how to ride on snowboard. We want to show you that, it is possible
          to reach your limits and show you how to face your deepest fears. On snow you are totally ree..
        </p>
        <!--  Bottom half to half container -->
      </div>
      <div class="row bottom-hnh">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">
          <p class="promo-text blue-text">
            <strong>No matter what your level is.
              We intend to make your experience with us safe and enjoyable. We want you to open your mind to the latest
              techniques which will change the way you ride the highest mountains.
            </strong>
          </p>
        </div>
        <!-- Mountains graphic -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mountain-graphic">
          <img src="media/graphics/mountain-graphic.png" alt="mountain-graphic">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why to choose our lessons section -->
<section id="why-our-lessons">
  <div class="h-100">
    <!-- Main section container -->
    <div class="container text-center">
      <h1>Why our lessons ?</h1>
      <h6 class="text-uppercase text-white mb-4">
        Our instructors will make sure that the exercise and terrain choice is ideal for your stage of learning.
      </h6>
    </div>
    <!-- Container with cards -->
    <div class="container">
      <div class="row our-proof">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p-0">
          <div class="card text-center">
            <div class="card-body">
              <div class="white-border shadow-sm">
                <h5 class="card-title">Your Safety</h5>
                <hr>
                <p class="card-text font-weight-light text-left">Your safety is a number one on our priority list. We
                  always looking after our students and we make sure they will be safe all the time during the lessons.
                  We want you to have fun and focus on all snow activities with peacfull mind.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p-0">
          <div class="card text-center">
            <div class="card-body">
              <div class="white-border shadow-sm">
                <h5 class="card-title">Our Instructors</h5>
                <hr>
                <p class="card-text font-weight-light text-left">Our instructors are the top instructors of the world.
                  They spent whole life ridin on snowboard on all kind of slopes. They are here to teach you, so you can
                  develope your snowboarding skills and to help you become a top class snowboarder.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p-0">
          <div class="card text-center">
            <div class="card-body">
              <div class="white-border shadow-sm">
                <h5 class="card-title">Your Expectations</h5>
                <hr>
                <p class="card-text font-weight-light text-left">Our crew is here for you 24h/7 days a week to answer
                  your queries. We are constantly changing. We are building new resorts, creating new lessons
                  deals/offer to make it more affordable and fitted for you and your time.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p-0">
          <div class="card text-center">
            <div class="card-body">
              <div class="white-border shadow-sm">
                <h5 class="card-title">Your Money</h5>
                <hr>
                <p class="card-text font-weight-light text-left">Because we all don't want to spend too much money on
                  the things we love. That is why we adapt our offers and change prices to make them more affordable for
                  you. We also have a promotional offers every month to make it even cheaper.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Booking reminder banner section -->
<section id="booking-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <h1>Booking time!</h1>
        <p class="font-weight-light m-0 mt-2 text-white">Don't waste time, book lessons today.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-auto d-flex justify-content-center">
        <div class="boooking-button p-3 text-center">
          <!-- URL for booking -->
          <a href="#">
            <button class="btn btn-danger text-uppercase">Book now!</button>
          </a></div>
      </div>
    </div>
  </div>
</section>
<!-- What is my level section -->
<section id="my-level">
  <div class="container">
    <h1>What is your level ?</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 level-container">
        <h3>Beginner</h3>
        <div class="score-container">
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1 level-none"></i>
          <i class="fas fa-snowflake mx-1 level-none"></i>
          <i class="fas fa-snowflake mx-1 level-none"></i>
        </div>
        <p class="">Level Explanation</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 level-container">
        <h3>Intermediate</h3>
        <div class="score-container">
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1 level-none"></i>
          <i class="fas fa-snowflake mx-1 level-none"></i>
        </div>
        <p class="">Level Explanation</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 level-container">
        <h3>Advance</h3>
        <div class="score-container">
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1 level-none"></i>
        </div>
        <p class="">Level Explanation</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 level-container">
        <h3>Expert</h3>
        <div class="score-container">
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1"></i>
          <i class="fas fa-snowflake mx-1"></i>
        </div>
        <p class="">Level Explanation</p>
      </div>
    </div>

  </div>
</section>
<!-- Our place - map section -->
<section id="map">
  <div class="container-fluid">
    <div class="row">
      <h1>Hi there! We are here.</h1>
    </div>
  </div>
</section>
{% include 'includes/footer.html' %}

{% endblock %}