{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="d-none">Home page</h1>

<section id="top-bg">
  <div class="container-fluid h-100">
    <div class="interactive-top row h-100">
      <div class="quote-bg shadow-sm my-auto mx-4">
        <p class="quote-text font-weight-light"><i>
            "The attraction of snowboarding is the freedom it gives you. With a snowboard on your feet the sky is the
            limit. You can do anything and go anywhere. This is not just for pro riders. It is for everyone."
          </i></p>
        <hr class="quote-hr">
        <p class="quote-author m-0">Jeremy Jones</p>
      </div>
      <div class="icons my-auto">
        <div class="social-media d-flex flex-column">
          <!-- social media code snipped -->
          {% include 'includes/social-media-set.html' %}
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="scroll-icon"><span></span>Scroll</a>
</section>
<section id="motivation-banner">
</section>
<section id="about-us">

</section>

{% include 'includes/footer.html' %}

{% endblock %}