{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main container -->
<div id="booking">
    <!-- Top banner -->
    <div class="container">
        <div class="booking-banner">
            <h2 class="banner-text">Booking..
                <hr>
            </h2>
        </div>
    </div>
    <!-- Booking container -->
    <div class="container">
        <div class="booking-container">
            <h2>{% if booked %}
                <!-- Finalise your booking -->
                Finalise your booking
                {% else %}
                <!-- Link for bookigin -->
                Nothing booked yet ?
                <a href="{% url 'lessons' %}" rel="noopener noreferrer">
                    <button class="btn btn-danger text-uppercase">Book now</button>
                </a>
                {% endif %}
            </h2>
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'layout/footer.html' %}

{% endblock %}