{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main container -->
<div id="booking">
    <!-- Top banner -->
    <div class="container">
        <div class="booking-banner">
            <h2 class="banner-text">Booking..
                <hr>
            </h2>
        </div>
    </div>
    <!-- Booking container -->
    <div class="booking-container">
        {% if booked %}
        <div class="container">
            <!-- Finalise your booking -->
            <h2>Finalise your booking</h2>
            <!-- When any lesson is booked show booked in this container -->
            <div class="row">

            </div>
        </div>
        {% else %}
        <!-- Link for bookigin -->
        <div class="container">
            <h2>Nothing booked yet ?<br>
                <span>Have a quick look on randomly selected lessons for you.</span>
            </h2>
            <!-- Separating line -->
            <hr>
        </div>
        <!-- Include "You may like" container -->
        <div class="row">
            {% include 'includes/you-might-like.html' %}
        </div>
        {% endif %}
        <!-- Booking banner included -->
        {% include 'includes/booking-banner.html' %}
    </div>
</div>

<!-- Footer -->
{% include 'layout/footer.html' %}

{% endblock %}