{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--  Main resorts container -->
<h1 class="d-none">Resorts</h1>
<div id="resorts-container">
    <div class="resorts-bg"></div>
    <div class="container mt-3">
        <!-- About resorts container -->
        <div class="row about-resorts-container">
            <h2 class="d-flex justify-content-center">Our Resorts</h2>
            <div class="about-resorts">
                <p class="about-resorts-text">
                    We are trying to increase number of our resorts. We want to provide the best locations and the
                    most affordable prices for you. We are currently planning to build our 3rd, the biggest resort.
                </p>
            </div>
            <h5>We are currently running
                <span>{{ resorts.count }}</span>
                resort{% if resorts.count > 1 %}s{% endif %}, have a look.
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        {% for resort in resorts.all|dictsort:"name" %}
        <!-- Resort section -->
        <div class="row resorts-container {% if forloop.counter|divisibleby:2 %}reverse-background{% endif %}">
            <div class="container p-0">
                <div class="row {% if forloop.counter|divisibleby:2 %}flex-row-reverse{% endif %}">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 image-container">
                        {% if resort.image %}
                        <img src="{{ MEDIA_URL }}{{ resort.image }}" alt="{{ resort.name }}">
                        {% else %}
                        <img src="{{MEDIA_URL}}graphics/no_image.png" alt="no-image">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="resort-info">
                            <div class="main-info">
                                <h3><u>{{ resort.name }}</u> <span>({{ resort.country.name }})</span></h3>
                                <p class="">Few words about resort : <br><span>{{ resort.about }}</span></p>
                                <p class="">Resort is open : <span>{{ resort.open_season }}</span></p>
                                <p class="">Top altitude : <span>{{ resort.top_altitude }} m</span></p>
                                <p class="">Bottom altitude : <span>{{ resort.bottom_altitude }} m</span></p>
                                <p class="">Resort altitude : <span>{{ resort.resort_altitude }}m</span></p>
                            </div>
                            <div class="bottom-info">
                                <p class="bottom-info-title">Instructors in resort :
                                    <span>{{ resort.instructors }}</span>
                                </p>
                                <p class="bottom-info-title">Recommended levels :
                                    <span>{{ resort.levels }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Booking reminder banner section -->
{% include 'includes/booking-banner.html' %}

<!-- Footer -->
{% include 'layout/footer.html' %}

{% endblock %}