/* Social media icons */
.icons {
    z-index: 99;
    right: 40px;
    position: absolute;
    top: calc(((100vh - 320px) + 59px) / 2);
    a {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    .social-button {
        color: #00d4f5 !important;
        text-decoration: none;
        background: white;
        &:hover {
            color: #fff !important;
        }
    }
    .facebook-icon:hover {
        background-color: #1877f2; /* facebook */
    }
    .instagram-icon:hover {
        background-image: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); /* instagram */
    }
    .twitter-icon:hover {
        background-color: #1da1f2; /* twitter */
    }
    .snapchat-icon:hover {
        background-color: #fffc00; /* snapchat */
    }
    .pinterest-icon:hover {
        background-color: #bd081c; /* pinterest */
    }
    .youtube-icon:hover {
        background-color: #ff0000; /* youtube */
    }
    .tiktok-icon:hover {
        background-color: #69c9d0; /* tiktok */
    }
    .vimeo-icon:hover {
        background-color: #19b7ea; /* vime */
    }
}
