{% extends 'base.html' %}
{% load static %}
{% block extra_title %}| Checkout{% endblock %}
{% block content %}

<!-- Checkout main container -->
<h1 class="d-none">Checkout</h1>
<div id="checkout">
    <!-- Banner -->
    <div class="banner"></div>
    <!-- Main container -->
    <div class="main">
        <div class="container pb-3">
            <!-- Breadcrumbs -->
            <div class="row empty-box">
                <div class="breadcrumbs">
                    <a href="{% url 'booking' %}"><i class="fas fa-chevron-left"></i> Back to Booking</a>
                </div>
            </div>
            <div class="row">
                <!-- Checkout Form & Payment Form -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 order-form">
                    <!-- Wrapped with card style -->
                    <div class="card shadow-sm">
                        <!-- Form -->
                        <form action="{% url 'checkout' %}" class="" id="form-checkout" method="POST">
                            {% csrf_token %}
                            <!-- Basic info -->
                            <fieldset class="">
                                <legend>Personal Information:</legend>
                                <hr>
                                {{ order_form.full_name | as_crispy_field}}
                                {{ order_form.email | as_crispy_field}}
                                {{ order_form.phone_number | as_crispy_field}}
                            </fieldset>
                            <fieldset class="">
                                <legend>Home Information:</legend>
                                <hr>
                                {{ order_form.street_address1 | as_crispy_field}}
                                {{ order_form.street_address2 | as_crispy_field}}
                                {{ order_form.town_or_city | as_crispy_field}}
                                {{ order_form.postcode | as_crispy_field}}
                                {{ order_form.county | as_crispy_field}}
                                {{ order_form.country | as_crispy_field}}
                            </fieldset>
                            <hr>
                            {% if user.is_authenticated %}
                            <label for="save-info">Save personal information</label>
                            <input type="checkbox" name="save-info" id="save-info" class="" checked>
                            {% else %}
                            <span>If you want to save your infomration, please</span>
                            <label class="buttons" for="save-info">
                                <a href="{% url 'account_login' %}" class="btn hvr-bounce-to-right">Login</a>
                                <a href="{% url 'account_signup' %}" class="btn hvr-bounce-to-right">Register</a>
                            </label>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- Booking Summary -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <!-- Wrapped with card style -->
                    <div class="card shadow-sm form-margin mb-3">
                        <div class="booking-summary">
                            <h4 class="">Summary</h4>
                            <p class="summary-text">Your booking summary includes all deductions & discount (if
                                applied)
                            </p>
                            <hr>
                            <div class="summary-totals">
                                <p class="">Total:
                                    <span>£ {{ total|floatformat:2 }}</span>
                                </p>
                                <p class="">Discount:
                                    <span>£ {{ discount|floatformat:2 }}</span>
                                </p>
                                <hr>
                                <p class="grand-total">Grand Total:
                                    <span>£ {{ grand_total|floatformat:2 }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Wrapped with card style -->
                    <div class="card shadow-sm form-margin">
                        <!-- Stripe payments section -->
                        <div class="booking-payment">
                            <!-- Stripe payments section -->
                            <fieldset class="">
                                <h4>Payment</h4>
                                <hr>
                                <!-- Stripe Card -->
                                <div class="" id="stripe-card">
                                </div>
                                <!-- Error message -->
                                <div class="" id="stripe-error" role="alert"></div>
                            </fieldset>
                            <!-- Complete order button -->
                            <div class="buttons">
                                <button type="submit" id="purchase-button" class="btn hvr-bounce-to-right">Make a
                                    Payment</button>
                            </div>
                            <p class="small m-0">Your card will be charged £ {{ grand_total|floatformat:2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
{% include 'layout/footer.html' %}

{% endblock %}