html {
    height: 100%;
}

body {
    color: #000;
    font-family: "Lato", sans-serif;
}

header {
    background-color: #fff;
}

nav {
    min-height: 59px;
    background-color: #fff;
}
.navbar {
    padding: 0.55rem 1rem;
}

nav > a > img {
    width: 120px;
}

.nav-link {
    color: #00d4f5 !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.special-nav-lnik {
    color: #f60f13 !important;
}

/* normal | blue - nav active link : hover.css*/
.nav-link-active {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
}

.nav-link-active:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background: #00d4f5 !important;
}

/* special | red - nav active link : hover.css*/
.nav-link-active-red {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
}

.nav-link-active-red:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background: #f60f13 !important;
}

/*
Nav links hover style - code used/modified
from https://ianlunn.github.io/Hover/
*/
.hvr-bounce-to-top:before {
    top: 36px !important;
    background: #00d4f5 !important;
    border-radius: 9px;
}

.hvr-bounce-to-top-red {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top-red:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f60f13;
    border-radius: 9px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top-red:active:before,
.hvr-bounce-to-top-red:focus:before,
.hvr-bounce-to-top-red:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

.navbar-light .navbar-toggler {
    border: none;
}
/*
Hamburger button style - code adapted to fit page style
Code Snippet from https://codepen.io/designcouch/pen/Atyop
*/
#hamburger-button,
#hamburger-button-medium {
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#hamburger-button span,
#hamburger-button-medium span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #00d4f5;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#hamburger-button span:nth-child(1),
#hamburger-button-medium span:nth-child(1) {
    top: 0px;
}

#hamburger-button span:nth-child(2),
#hamburger-button span:nth-child(3),
#hamburger-button-medium span:nth-child(2),
#hamburger-button-medium span:nth-child(3) {
    top: 7px;
}

#hamburger-button span:nth-child(4),
#hamburger-button-medium span:nth-child(4) {
    top: 14px;
}

#hamburger-button.open span:nth-child(1),
#hamburger-button-medium.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger-button.open span:nth-child(2),
#hamburger-button-medium.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-button.open span:nth-child(3),
#hamburger-button-medium.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger-button.open span:nth-child(4),
#hamburger-button-medium.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/*
Code snipped used from https://codepen.io/nxworld/pen/OyRrGy
Classes and ID's names modified to suits main project style
*/

section {
    position: relative;
    width: 100%;
    height: calc(100vh - 59px);
}
section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 80%;
}
section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

#top-bg {
    background: url("/media/main_bg/mainpage_bg.jpg") center center / cover no-repeat;
}

.scroll-js-button a {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 25px);
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #00d4f5;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
}
.scroll-js-button a:hover {
    opacity: 0.5;
}

#top-bg a {
    padding-top: 60px;
}
#top-bg a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #00d4f5;
    border-radius: 50px;
    box-sizing: border-box;
}
#top-bg a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: "";
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #00d4f5;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Mainpage - Motivation Banner */
#motivation-banner {
    height: 400px;
    background-color: #00d4f5;
}
/* Mainpage - About Us section */
#about-us {
    background-color: #fff;
}

canvas {
    background: black;
    width: auto;
    height: auto;
}

/*  Footer */
footer {
    background-color: #00d4f5;
}

.connect-container {
    height: 300px;
}

footer .container {
    min-height: 100px;
    height: auto;
}

footer .form-control {
    height: calc(2em + 0.75rem + 2px);
    color: #000 !important;
    border: 2px solid #31addf;
    border-radius: 1.5rem !important;
    padding: 0rem 1.25rem;
    outline: none;
}

/* inpiut field outline active style */
footer textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {
    border-color: #059cd9;
    outline: 0 none;
}

/* subscirbe section */
.btn-outline-secondary {
    color: #fff;
    background-color: #31addf;
    border: none;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 1.5rem;
    padding: 0.265rem 0.75rem;
    z-index: 999;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-outline-secondary:visited {
    color: #fff !important;
    border-color: #059cd9 !important;
    background-color: #059cd9 !important;
}

/* copyrights container */
.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* social media icons */
.social-button {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 22px;
    line-height: 0;
    border: 3;
    border: 2px solid #fff;
    border-radius: 25px;
}

.social-button:hover {
    color: #059cd9 !important;
    text-decoration: none;
    background: white;
}

/* Media quieries - Mainpage */
@media (max-width: 575.98px) {
    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Footer */
@media (max-width: 767.98px) {
    .social-media {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .media-fluid {
        justify-content: center !important;
    }
    .media-fluid p {
        text-align: center;
    }
}
