<form id="form-contact" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 shadow-sm">
    <h2 class="page-title">Message Us</h2>
    <div class="form-group">
        <label for="name_contact">Name</label>
        <input type="text" class="form-control" id="name_contact" placeholder="John Doe">
    </div>
    <div class="form-group">
        <label for="email_contact">Email address</label>
        <input type="email" class="form-control" id="email_contact" placeholder="email@address.com">
    </div>
    <div class="form-group">
        <label for="text_contact">Message</label>
        <textarea class="form-control" id="text_contact" rows="5" placeholder="Your message here.."></textarea>
    </div>
    <div class="buttons-group d-flex justify-content-between mt-4">
        <button type="button" id="clear-form-btn" class="btn btn-danger">Clear</button>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>