<form id="form_contact">
    <div class="form-group">
        <label for="name_contact">Name</label>
        <input type="text" class="form-control" id="name_contact" placeholder="John Doe">
    </div>
    <div class="form-group">
        <label for="email_contact">Email address</label>
        <input type="email" class="form-control" id="email_contact" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="text_contact">Message..</label>
        <textarea class="form-control" id="text_contact" rows="5"></textarea>
    </div>

</form>