<section id="booking-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
        <h1>Booking time!</h1>
        <p class="font-weight-light m-0 mt-2 text-white">Don't waste time, book lessons today.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-auto d-flex justify-content-center">
        <div class="boooking-button p-3 text-center">
          <!-- URL for booking -->
          <a href="{% url 'lessons' %}" rel="noopener noreferrer">
            <button class="btn btn-danger text-uppercase">Book now</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>