<footer>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center p-3 connect-container">
            <div class="col-lg-3">
                <h2 class="lets-connect">Let's Connect!</h2>
                <small>Stay notified! Receive our best offers, promo codes and new lessons information.</small>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</footer>