<footer>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center connect-container">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 text-center text-white">
                <form action="" method="POST">
                    <h1 class="lets-connect">Don't miss a thing!</h1>
                    <p class="font-weight-light">Stay notified! Receive our best offers, promo codes and new lessons
                        information.</p>
                    <div class="form-group">
                        <div class="input-group mt-5 mb-3">
                            <input nam="subscribe-email" type="text" class="form-control shadow-sm"
                                placeholder="your@email.com" aria-label="Subscriber's email"
                                aria-describedby="basic-addon2" required>
                            <button class="btn btn-outline-secondary" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-between media-fluid">
                <div class="copyrights">
                    <p class="m-0 font-weight-light text-white">
                        <a href="https://github.com/KarolSliwka" class="text-white" target="_blank">Karol Sliwka</a>
                        | 2020 © For learning purposes only
                    </p>
                </div>
                <div class="social-media">
                    <a href="https://www.facebook.com" target="_blank" class="btn btn-default social-button mr-3">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/?hl=en" target="_blank" class="btn btn-default social-button mr-3">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/?lang=en-gb" target="_blank" class="btn btn-default social-button mr-3">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.snapchat.com/l/en-gb/" target="_blank" class="btn btn-default social-button">
                        <i class="fab fa-snapchat-ghost"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>