<footer>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center p-3 connect-container">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-xl-6">
                <h2 class="lets-connect">Let's Connect!</h2>
                <p>Stay notified! Receive our best offers, promo codes and new lessons information.</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</footer>