<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
    <a class="navbar-brand p-0" href="{% url 'home' %}">
        <img src="media/logo/logo.png" alt="arctic-school-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == 'lessons' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}" href="#">LESSONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == 'teams' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}" href="#">TEAM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == 'resorts' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}" href="#">RESORTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 special-nav-lnik {% if request.get_full_path == 'bookings' %}nav-link-active-red{% else %}hvr-bounce-to-top-red{% endif %}" href="#">BOOKING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == 'contact' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 {% if request.get_full_path == 'account' %}nav-link-active{% else %}hvr-bounce-to-top{% endif %}" href="#">ACCOUNT</a>
            </li>
        </ul>
    </div>
</nav>