<div class="social-media">
<a href="https://www.facebook.com" target="_blank" class="btn btn-default social-button mr-3">
    <i class="fab fa-facebook-f"></i>
</a>
<a href="https://www.instagram.com/?hl=en" target="_blank" class="btn btn-default social-button mr-3">
    <i class="fab fa-instagram"></i>
</a>
<a href="https://twitter.com/?lang=en-gb" target="_blank" class="btn btn-default social-button mr-3">
    <i class="fab fa-twitter"></i>
</a>
<a href="https://www.snapchat.com/l/en-gb/" target="_blank" class="btn btn-default social-button">
    <i class="fab fa-snapchat-ghost"></i>
</a>
</div>