<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand p-0" href="{% url 'home' %}">
        <img src="media/logo/logo.png" alt="arctic-school-logo">
    </a>
    <ul class="nav navbar-nav ml-auto flex-row">
        <li class="nav-item">
            <a class="nav-link mr-3 hvr-bounce-to-top" href="#">LESSONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3 hvr-bounce-to-top-red special-nav-lnik" href="#">BOOKINGS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-3 hvr-bounce-to-top" href="#">ACCOUNT</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div id="hamburger-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto mt-3 flex-column">
            <li class="nav-item">
                <a class="nav-link mr-3 hvr-bounce-to-top" href="#">TEAMS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3 hvr-bounce-to-top" href="#">RESORTS</a>
            </li>
        </ul>
    </div>
</nav>