<!-- Main container -->
<div class="container-fluid bg-white">
    <div class="container">
        <div class="yml">
            <h4>You may also like</h4>
            <div class="row">
                <!-- Lessons for loop -->
                {% for lesson in lessons %}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 p-2">
                    <a href="" class="">
                        <div class="card shadow-sm">
                            <img src="/media/{{ lesson.image }}" alt="{{ lesson.name }}-image">
                            <div class="yml-info">
                                <h5 class="yml-title">{{ lesson.name }}</h5>
                                <p class="yml-price">£ <span>{{ lesson.price }}</span></p>
                                <p class="yml-level">Level <span>{{ lesson.level }}</span></p>
                                <p class="yml-category">For <span>{{ lesson.category }}</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>