/* Base Main */
html {
    height: 100%;
}

body {
    color: #fff;
    font-family: "Lato", sans-serif;
    height: calc(100% - 59px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
}

.blue-text {
    color: #059cd9 !important;
}
/*
* Back to top button , code snippet from https://codepen.io/joshuamasen/pen/OYaYbL
*/
.top-link {
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;

    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 0 2em 0;
    border-color: #f60f13;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-radius: 20% 0 0 20%;
    padding: 0.25em;
    width: 50px;
    height: 50px;
    background-color: #fff;

    &.show {
        visibility: visible;
        z-index: 9999999;
        opacity: 0.8;
    }

    &.hide {
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        text-decoration: none;
        background-color: #fff;
        opacity: 1;
    }

    i {
        color: #f60f13;
    }
}

/* Buttons transition style overwritten - global change  */
.hvr-bounce-to-right {
    -webkit-transition-duration: 0.2s !important;
    transition-duration: 0.2s !important;
}
