html {
    height: 100%;
}

body {
    color: #fff;
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 1.5rem;
}

.blue-text {
    color: #059cd9 !important;
}