<table class="table table-sm table-borderless">
    <thead class="text-black">
        <tr>
            <th scope="col">Lesson Info</th>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Participants</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    {% for item in booked_lessons %}
    <tr>
        <td class="p-3 w-25">
            <img class="img-fluid rounded" src="{{ item.lesson.image.url }}">
        </td>
        <td class="py-3">
            <p class="my-0"><strong>{{ item.lesson.name }}</strong></p>
        </td>
        <td class="py-3">
            <p class="my-0">Level: {{ item.lesson.level }}</p>
        </td>
        <td class="py-3 w-25">
            <p class="my-0">Participants: {{ item.lesson.participants }}</p>
        </td>
        <td class="py-3">
            <p class="my-0">£{{ item.lesson.price }}</p>
        </td>
    </tr>
    {% endfor %}
</table>