<!-- Keep browsing lessons button -->
<div class="row my-4">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow-sm border-0">
            <a href="{% url 'lessons' %}" class="btn hvr-bounce-to-right btn-blue">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Browsing Lessons</span>
            </a>
        </div>
    </div>
    <!-- Secure checkout button -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow-sm border-0">
            <a href="" class="btn hvr-bounce-to-right">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
</div>