header {
    background-color: #fff;
}

nav {
    min-height: 59px;
    background-color: #fff;
    a {
        img {
            width: 120px;
        }
    }
}

.navbar {
    padding: 0.55rem 1rem;

    // navigation bar opacity classes
    &.less {
        background-color: rgba(255, 255, 255, 0.95);
    }
}

.nav-link {
    color: #00d4f5 !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.special-nav-lnik {
    color: #f60f13 !important;
}

/* Normal | blue - nav active link : hover.css*/
.nav-link-active {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
}

.nav-link-active:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background: #00d4f5 !important;
}

/* Special | red - nav active link : hover.css*/
.nav-link-active-red {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
}

.nav-link-active-red:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    background: #f60f13 !important;
}

/*
Nav links hover style - code used/modified
from https://ianlunn.github.io/Hover/
*/
.hvr-bounce-to-top:before {
    top: 36px !important;
    background: #00d4f5 !important;
    border-radius: 9px;
}

.hvr-bounce-to-top-red {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top-red:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f60f13;
    border-radius: 9px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top-red:active:before,
.hvr-bounce-to-top-red:focus:before,
.hvr-bounce-to-top-red:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.navbar-light {
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        border: none;
    }
}
/*
Hamburger button style - code adapted to fit page style
Code Snippet from https://codepen.io/designcouch/pen/Atyop
*/
#hamburger-button,
#hamburger-button-medium {
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#hamburger-button span,
#hamburger-button-medium span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #00d4f5;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#hamburger-button span:nth-child(1),
#hamburger-button-medium span:nth-child(1) {
    top: 0px;
}

#hamburger-button span:nth-child(2),
#hamburger-button span:nth-child(3),
#hamburger-button-medium span:nth-child(2),
#hamburger-button-medium span:nth-child(3) {
    top: 7px;
}

#hamburger-button span:nth-child(4),
#hamburger-button-medium span:nth-child(4) {
    top: 14px;
}

#hamburger-button.open span:nth-child(1),
#hamburger-button-medium.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger-button.open span:nth-child(2),
#hamburger-button-medium.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-button.open span:nth-child(3),
#hamburger-button-medium.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger-button.open span:nth-child(4),
#hamburger-button-medium.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

// booking count icon
.booking-count {
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: red;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

/* style code snippet from:
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover
- edited to match whole content style
*/
.dropdown {
    position: relative;
    display: inline-block;

    &:hover .dropdown-content {
        display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    right: 10px;
    border: 2px solid #fff;
    border-radius: 5px;

    a {
        font-size: 0.85rem;
        font-weight: 400;
        color: black;
        text-decoration: none;
        display: block;
        padding: 0.85rem;

        &:hover {
            color: #fff;
            background-color: #00d4f5;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
