/* Management Forms */
body[id*="edit"],
body[id*="add"] {
    /* Main page style */
    background-color: #f1f2f3;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    color: #000;

    /* Management Add / Edit Forms main style */
    .mgmt-forms {
        /* Text */
        h1 {
            color: #059cd9;
        }

        h2 {
            color: #848484;
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
        .info-text {
            color: #ced4da;
            font-size: 1rem;
            margin: 0;
        }

        /* Card */
        .card {
            padding: 1.25rem;
            border-radius: 10px;
        }

        /* Table headers */
        .table-headers {
            color: #000;
            font-weight: 500;
            font-size: 1rem;
            display: flex;
            align-items: center;
            align-content: center;
        }

        /* Table results */
        .table-results {
            p {
                font-weight: 300;
                margin: 0;
            }

            .title {
                font-weight: 400;
            }

            .table-line {
                display: flex;
                align-items: center;
                align-content: center;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        /* Buttons */
        .btn {
            width: calc((100%) / 2 - 5px);
            border: 1px solid #00d4f5;
            color: #00d4f5;

            &:active,
            &:focus {
                color: #fff;
            }
        }

        &:hover {
            text-decoration: none;
        }

        .hvr-bounce-to-right {
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
        }

        .hvr-bounce-to-right:hover {
            color: #fff !important;
        }

        .hvr-bounce-to-right:before {
            background: #00d4f5;
            border: 1px solid #fff;
            border-radius: inherit;
        }

        .red-button {
            border: 1px solid #f60f13;
            color: #f60f13;

            &:before {
                background: #f60f13 !important;
            }
        }

        /* Add new element - butotn */
        .add-new-button {
            width: 100%;
            border: 1px solid #848484;
            color: #848484;

            &:before {
                background: #848484 !important;
            }
        }
    }

    /* -------------------- ADD/EDIT FORMS -------------------- */
    .forms-container {
        input::placeholder,
        textarea::placeholder {
            color: #ced4da;
        }

        input[type="file"] {
            display: none;
        }
        #div_id_image {
            label {
                margin-left: 10px;

                &:hover {
                    color: #f60f13;
                }
            }
            label:nth-child(1) {
                background-color: #fcfcfc;
                border: 1px solid #31addf;
                border-radius: 5px;
                padding: 0.5rem 4rem;
                margin-left: 0;

                &:hover {
                    color: #fff;
                    background-color: #31addf;
                }
            }
        }

        .btn {
            width: 100% !important;
            margin-top: 10px;
        }

        select {
            -webkit-appearance: none;
        }

        label {
            color: #31addf;
            margin-bottom: 0;
            margin-top: 5px;
        }

        /* Dropdown fields - arrow icon */
        .arrow-icon {
            text-align: right;
            position: absolute;
            right: 30px;
            margin-top: 37px;
        }
    }

    /* Footer */
    footer {
        flex-shrink: 0;
    }
}
