#contact {
    background-image: url("/media/bg_images/contact_bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #f1f2f3;

    // contact form top section
    .page-title {
        color: #059cd9;
    }

    .promo-text-contact {
        font-size: 1rem;
        font-weight: 300;
        color: #000;
        padding: 0;
    }
}

#contact_bg {
    height: calc(100% - 59px);
    width: 100%;

    img {
        width: 100%;
    }
}
