#lessons-container {
    margin-top: 59px;

    // category cards style
    .category-block-,
    .category-block-e {
        height: calc((100vh - 59px) / 4);
        background-color: #059cd9;
        display: flex;
        padding: 1.25rem;

        .cat-card {
            background-color: #fff;
            height: 100%;
            width: 100%;
            border-radius: 25px;
        }

        a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2.25rem;
                color: #059cd9;
                margin: 0;
            }

            &:hover {
                text-decoration: none;
                border: 10px solid #fff;
                border-radius: 25px;
                background: linear-gradient(0deg, #ffffff 5%, #31addf 95%);

                h1 {
                    color: #fff !important;
                    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                }
            }
        }
    }
}

// category results page - lesson cards style
.about-lessons-result {
    .about-lessons {
    }
    .about-text {
    }
}

.lessons-result-cards {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    // filters box stlye
    .filter-box {
        width: 100%;

        label {
            color: #000;
        }

        select {
            color: #000;
        }
    }

    // cards style
    .card {
        border-radius: 15px;
        margin-bottom: 1rem;
        .card-head {
            border-radius: 15px 15px 0 0;
            img {
                border-radius: inherit;
                max-height: auto;
                width: 100%;
            }
        }
        .card-body {
            h1 {
                font-size: 1.25rem;
                color: #059cd9;
            }
            p {
                font-size: 1rem;
                font-family: "Lato", sans-serif;
                color: #000;
                font-weight: 500;
                margin-bottom: 0.5rem;

                span {
                    font-weight: 300;
                }
            }

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 1rem;

                a {
                    width: calc(50% - 5px);
                    &:hover {
                        text-decoration: none;
                    }

                    .btn {
                        width: 100%;
                        border: 1px solid #00d4f5;
                        color: #00d4f5;
                    }
                }
                a:nth-child(2) {
                    .btn {
                        width: 100%;
                        border: 1px solid #f60f13;
                        color: #f60f13;
                    }
                    .hvr-bounce-to-right:before {
                        background: #f60f13;
                    }
                }
            }
            .hvr-bounce-to-right:hover {
                color: #fff !important;
            }
            .hvr-bounce-to-right:before {
                background: #00d4f5;
                border: 1px solid #fff;
                border-radius: inherit;
            }
        }
    }
}

@media (max-width: 1024px) {
    .category-block-,
    .category-block-e {
        padding: 0.5rem;
        a {
            h1 {
                font-size: 1.75rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    @media (max-height: 414px) {
        .category-block-,
        .category-block-e {
            padding: 0.5rem;
            a {
                h1 {
                    font-size: 1.5rem;
                }

                &:hover {
                    border: 5px solid #fff;
                }
            }
        }
    }
}
