{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="d-none">Team</h1>
<div id="team-container">
    <div class="our-team-bg"></div>
    <div class="container mt-3">
        <div class="row about-team-container justify-content-center">
            <h2>Meet our team!</h2>
            <div class="about-team">
                <p class="about-team-text">
                    <i>
                        Our team consists of the world's best instructors with extensive experience, highly qualified in
                        various fields, to ensure the highest quality of training.Some of them are trained in teaching:
                        <strong>children, elderly and even nervous clients.</strong> We are here to help you better
                        understand how to ride on snowboard and also to help you have fun, as you always should, when
                        riding!
                    </i>
                </p>
                <p class="blue-text text-uppercase">
                    <strong>
                        If you still curious who are they, read few words about them.
                    </strong>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4 class="">It's all about us. <br class="br-small">We're huge family.</h4>
        <div class="container">
            <hr class="about-hr">
        </div>
        <div class="row instructor-cards-container">
            {% for instructor in instructors %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 card">
                <div class="main-card shadow-sm">
                    <div class="info-container">
                        {% if instructor.image_url %}
                        <img class="card-img-top" src="{{ instructor.image_url }}" alt="{{ instructor.image }}">
                        {% else %}
                        <img class="card-img-top" src="{{MEDIA_URL}}graphics/no_image.png" alt="no-image">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <hr class="white-hr">
                        <h5 class="card-title text-underline"><u>{{ instructor.name }}</u><span
                                class="age">{{ instructor.age }}</span></h5>
                        <div id="{{ instructor.image }}" class="collapse">
                            <p class="card-text">{{ instructor.about }}</p>
                        </div>
                        <button type="button" class="btn btn-info" data-toggle="collapse"
                            data-target="#{{ instructor.image }}">Read more</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'layout/footer.html' %}

{% endblock %}