{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="d-none">Team</h1>
<div id="team-container">
    <div class="container-fluid">
        <div class="row">
            {% for instructor in instructors %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 card">
                <div class="main-card shadow-sm">
                    <div class="info-container">
                        {% if instructor.image_url %}
                        <img class="card-img-top" src="{{ instructor.image_url }}" alt="{{ instructor.image }}">
                        {% else %}
                        <img class="card-img-top" src="{{MEDIA_URL}}graphics/no_image.png" alt="no-image">
                        {% endif %}
                        <div class="info">
                            <p class="card-title">Style
                                <br><span class="style">{{ instructor.style }}</span>
                            </p>
                            <p class="card-title">Favourite Trick
                                <br><span class="fav-trick">{{ instructor.trick }}</span>
                            </p>
                            <p class="card-title">Qualifications
                                <br><span class="qual">{{ instructor.qualifications }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-underline"><u>{{ instructor.name }}</u>
                            <span class="age">{{ instructor.age }}</span></h5>
                        <p class="card-text">{{ instructor.about }}</p>
                        <hr class="white-hr">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}