/* Booking banner main container */
#booking-banner {
    padding: 1.25rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    h1,
    h3 h6 {
        margin: 0;
    }

    h3 {
        font-size: 2.5rem;
    }
    /* Red booking button */
    .boooking-button {
        color: #fff;
        justify-content: center;
        align-items: center;
    }
    .btn-danger {
        min-width: 250px;
        height: 50px;
        background-color: #f60f13;
        opacity: 0.9;
        align-items: center;
        justify-content: center;
        display: flex;
        &:hover {
            opacity: 1;
        }
    }
}
