/* Lessons card - why our lessons */
.our-proof {
    max-width: 100%;
    .card {
        border: none;
        border-radius: 0;
        background: #059cd9;
        padding: 1.25rem;
        h5 {
            color: #f60f13;
        }
        p {
            color: #000;
        }

        .card-body {
            background-color: #fff;
            border-radius: 10px;
        }
    }
}
