@media (min-width: 325px) {
    .copyright-break {
        display: none !important;
    }
}

@media (max-height: 375px) {
    /* Social media icons - height query */
    .icons {
        top: calc(((100vh - 270px) + 59px) / 2);
    }
    .icons {
        a {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 414px) {
    /* Social media icons position */
    .icons {
        right: 10px;
    }
    /* Change quote width on smaller devices */
    .quote-bg {
        width: calc(100% - 110px);
    }
}

@media (max-width: 575.98px) {
    /* Mainpage */
    header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-height: 658px) {
    #top-bg {
        .scroll-icon {
            span {
                width: 25px;
                height: 40px;
            }
        }
    }
    .scroll-icon {
        bottom: -45px;
        left: calc(50%);
    }
    .scroll-text {
        display: none !important;
    }
}

@media (max-width: 665px) {
    /* Quote text position */
    .quote-bg {
        width: calc(100% - 160px);
    }
}

@media (max-width: 767.98px) {
    /* About Us Section - Mountain graphic */
    .mountain-graphic {
        img {
            position: relative;
        }
    }

    /* */
    #booking-banner {
        text-align: center;
    }

    /* Footer */
    .copyrights {
        flex-direction: column;
    }
    .social-media {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .media-fluid {
        justify-content: center !important;
    }
    .media-fluid {
        p {
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {
    /* Quote text position */
    .quote-bg {
        left: 0;
    }
}
