{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="lesson-container">
    <div class="container-fluid">
        <img src="" alt="" class="">
    </div>
    <div class="container">
        <div class="lesson-details">

            <div class="card shadow-sm">
                <!-- Image -->

                <!-- Name -->
                <p class="lesson-name">
                    <span>{{ lesson.name }}</span>
                </p>

                <!-- Supper Offer
        <p class="lesson-offer">{% if supper_offer %}Super Offer!{% endif %}</p>-->

                <!-- Category & Level -->
                <p class="lesson-category">Category
                    <span>{{ lesson.category }}</span>
                </p>
            </div>

            <!-- Description -->
            <p class="lesson-description">Description
                <span>{{ lesson.description }}</span>
            </p>

            <!-- Start Date & Start Time -->

            <!-- End Date & End Time -->

            <!-- Participants -->
            <p class="lesson-participants">Participant/s
                <span class="">{{ lesson.participants }}</span>
            </p>

            <!-- Resort -->
            <p class="lesson-price">Resort Name
                <span>{{ lesson.resort }}</span>
            </p>
            <!-- Resorts Info -->

            <!-- £ Price -->
            <p class="lesson-price">£ {{ lesson.price }}</p>

            <!-- Book now button -->
            <div class="buttons">
                <a href="">
                    <button class="btn hvr-bounce-to-right">Book</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}