{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main container -->
<h1 class="d-none">Lessons</h1>
<div id="lessons-container">
    <!-- About lessons promo container -->
    <div class="about-lessons-result">
        <div class="lessons-bg"></div>
        <div class="container">
            <div class="about-lessons">
                <h2>Find Lessons For You!</h2>
                <p class="about-lessons-text">We have got private and group snowboard lessson for everyone. From
                    beginner through advanced riders to experts. Doesn't matter, if you are old or young, age is not a
                    limit to start your beautiful journey with snowboarding. We have got the best instructors from whole
                    globe, <strong>they all are incredibly passionate about snowboard and teaching, with many years of
                        experience and knowledge</strong>.</p>
            </div>
            <hr class="p-3">
        </div>
    </div>
    <div class="container-fluid">
        <!-- Lessons result container for picked category -->
        <div class="lessons-result-cards">
            <div class="container">
                <!-- Lessons card counter -->
                <div class="page-info">
                    <p class="counter-lessons"></p>
                </div>
                <!-- Lessons cards container -->
                <div class="row justify-content-between">
                    <!-- Filters container -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <!-- Category -->
                        <div class="filter-box">
                            <div>
                                <li class="category-li">
                                    <a id="all_lessons" class="category-link shadow-sm {% if request.get_full_path == '/lessons/' %}category-selected{% endif %}" href="{% url 'lessons' %}">All Lessons ({{ all_lessons.count }})</a>
                                </li>
                                {% for category in categories|dictsort:"order" %}
                                <li class="category-li">
                                    <a class="category-link shadow-sm" id="{{ category.name }}"
                                        href="{% url 'lessons' %}?category={{ category.name }}">{{ category.friendly_name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </div>
                            <div class="filter-container">
                                <select id="sort-selector" class="custom-select custom-select-sm selector-border {% if current_sorting == 'None_None' %}selector-border-none{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                </select>
                            </div>
                            <div class="filter-container">
                                <div class="filter-label">Levels</div>
                                {% for level in levels %}
                                <div class="m-0">
                                    <input type="checkbox" name="level_checkbox" class="" id="{{ level.level }}"
                                        value="{{ level.level }}">
                                    <label class="text-uppercase" for="{{ level.level }}">{{ level.title }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                        <div class="row">
                            {% for lesson in lessons %}
                            <div id="{{ lesson.level }}"
                                class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 extra-padding">
                                <div
                                    class="card {% if lesson.supper_offer == True %}card-super-offer{% else %}shadow-sm{% endif %}">
                                    <!-- Card top part -->
                                    <div class="card-head">
                                        {% if lesson.image %}
                                        <img src="{{ MEDIA_URL }}{{ lesson.image }}" alt="{{ lessons.name }}">
                                        {% else %}
                                        <img src="{{MEDIA_URL}}graphics/no_image.png" alt="no-image">
                                        {% endif %}
                                        {% if lesson.supper_offer == True %}
                                        <div class="super-offer-icon">
                                            <p class="super-offer-text">Super Offer!</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <!-- Card bottom part -->
                                    <div class="card-body">
                                        <!-- Lesson details -->
                                        <h1>{{ lesson.name }}</h1>
                                        <p>Level
                                            <span id="lesson_level">{{ lesson.level }}</span>
                                        </p>
                                        <p>Participants
                                            <span>{{ lesson.participants }}</span>
                                        </p>
                                        <p>Price
                                            <span>£ {{ lesson.price }}</span>
                                        </p>
                                        <!-- Buttons section -->
                                        <div class="buttons">
                                            <a href="{% url 'lesson' lesson.id %}" class="btn hvr-bounce-to-right">Details</a>
                                            <a href="" class="btn hvr-bounce-to-right">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Show more lessons container -->
                        {% if lessons.count %}
                        <div class="show-more">
                            <a href="#" id="loadMore"><i class="fas fa-angle-double-down"></i>Load More (<span
                                    class="visible-cards-count"></span>)</a>
                            <p class="page-results"><span class="cards-count">
                                    {% if lessons.count <= 12 %} {{ lessons.count }} {% else %}12 {% endif %}</span>
                                        from <span class="total-count">{{ lessons.count }}</span> lessons</p>
                        </div>
                        {% else %}
                        <div class="text-center">
                            <p class="no-results">No results found in <span class="pathname"></span> category</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{% include 'layout/footer.html' %}

{% endblock %}